@charset "UTF-8";






 @media screen and (min-width:750px){

    .tudo{
        margin: 80px;
    }

    .slider{
        background-color: #00CC2C;
        display: none;
    }


   .cupom-ton{
    font-size: 1.3em;
    padding: 5px;

    }

    header > div {
        text-align: center;
    }

    header > div > img{
        margin: auto;
        width: 100%;   
          
    }

     h1{
        margin-top: 70px;
        font-size: 2.8em;
     }

     .planos-ton{
        padding: 5px;
        font-size: 1.5em;
           
    }

   .planos{
    text-align: center;
   }

    .plano-ton{
       
        width: 32%;
       
    }

    .plano-ton:hover{
        border: 2px solid #009420;
    }

    .ton-cel{
        padding: 5px;
        font-size: 1.5em;
    }
    
    h2{
       font-size: 2em;
    }

    
    .descricao{
    text-indent: 0px;
    text-align: center;
    font-size: 1.2em;
    
    }  

    .ton-brother{
        
        display: flex;
        flex-wrap: wrap;
    }

    .mega-ton{
        
        display: flex;
        flex-wrap: wrap;
    }

    .ton-basico{
        
        display: flex;
        flex-wrap: wrap;
    }

    .maquininha-ton{
        text-align: center;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    .ton{ 
       
        display: block;
        width: 100%;
    }

    footer{
        text-align: center;
      
        margin-top: 40px;
        padding: 30px;
        font-size: 1.2em;
        
    }

 }
 

 
   
