@charset "UTF-8";

@media screen and (min-width: 250px) {



    header>div{
        align-items: center;
        width: 60%;
         
    }


    h1{
       
        font-size: 2em;
       
    }

    .planos-ton{
      font-size: 1.6em;
         
        
    }
}
    
