@charset "UTF-8";

body{
    
}

header > img{
    align-items: center;
    width: 100%;
    border-radius: 20px;
}

h1{
    text-align: center;
   font-size: 1,2em;
}

.planos-ton{
    text-align: center;
    border-radius: 5px;
    background-color: #00CC2C;
    
}