@charset "UTF-8";

body{
    
}

header > img{
    align-items: center;
    width: 100%;
    border-radius: 20px;
}

h1{
    text-align: center;
   font-size: 1.2em;
}

.planos-ton{
    text-align: center;
    border-radius: 5px;
    background-color: #00CC2C;
    padding: 2px;
    
}

.plano-ton{
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;
}

.plano-ton:hover{
    border: 1px solid #009420;
}

.ton-cel{
    text-align: center;
    background-color: #D5DEE8;
    border-radius: 5px;
    padding: 2px;
    margin-top: 25px;
}

h2{
   text-align: center;
}

.descricao{
    text-align: center;
}


.t1-brother{
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}
 
.t1b{
    width: 80%;
}

button{
    background-color: #009420;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

button:hover{
    background-color: #00CC2C;
}
a{
    font-weight: bolder;
    color: black;
    text-decoration: none;
}